*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*~.nib
*.hprof
._.DS_Store
.idea
.secret
build
build/
captures

node_modules
*xcuserdata*
*.sketch
/design
/releases
/screenshots
crowdin.yml
